@import url('https://fonts.googleapis.com/css2?family=Poppins');

header {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 10%;

    
   


}

li,a,button {
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: gray;
}


.Logo {

    height: 50px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;

}

.nav-links {
    list-style: none;
    
}

.nav-links li {

    display: inline-block;
    padding: 0px 5px;
    cursor: pointer;

}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgb(105, 77, 131);

}

button {
    padding: 0.09rem 0.5rem;
    background-color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(160, 159, 159,0.5);
}