@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
.body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

}
.Search{
    margin:0;
    padding:0;
    width:50%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    border: none;
    border-radius: 50px;
    background-color: antiquewhite;
    overflow: hidden;
    
    
}

.Search input{
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 18px;
  border-radius: 20px;
  outline-style: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.Search input::placeholder{
  text-align: center;
  font-weight:bold;
  font-size: 24px;
  
}
.list{
  margin: 0;
  display: flex;
  width: 50%;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  overflow: hidden;
 
 
}
.list-items{
  margin: 0;
  padding: 0 ;
  border: none;
  list-style: none;
  
 

}
