<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="Search">
        <nav>
            <button type="button"><span class="material-symbols-outlined">
                search
                </span></button>
            <input type="text" placeholder="Products">
    
            <ul class="Products">
                <li>hola</li>
                <li>hola</li>
                <li>hola</li>
                <li>hola</li>
                <li>hola</li>
                <li>hola</li>
                <li>hola</li>
                <li>hola</li>
            </ul>
        </nav>
    </div>    
</body>
